.sq-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.sq-form-item__label-wrap {
  display: flex;
  align-items: center;
}

.sq-form-item__label {
  width: auto;
  display: inline-flex;
  align-items: center;
  height: 32px;
  line-height: 32px;
}

.sq-form-item__content {
  position: relative;
  flex: 1;
  display: flex;
}

.sq-form-item__error {
  position: absolute;
  left: 0;
  top: 100%;
  color: var(--sq-color-danger);
  font-size: 12px;
  line-height: 1;
  padding-top: 2px;
}
